<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetch using MySQL and Node.js</title>
</head>
<body>
    <div class="table-data">
<h2>Display Data using Node.js & MySQL</h2>
    <table border="1">
        <tr>
            <th>Numero de ligne</th>
            <th>id</th>
            <th>heure</th>
            <th>temps</th>
            <th>nb_tab</th>
            <th>tab_presence</th>

        </tr>
        
        <%
        if(rondeData.length!=0){
        var i=1;
        rondeData.forEach(function(data){
        %>
        <tr>
            <td><%=i; %></td>
            <td><%=data.id %></td>
            <td><%=data.heure %></td>
            <td><%=data.temps %></td>
            <td><%=data.nb_tab %></td>
            <td><%=data.tab_presence %></td>

        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>